USE [master]
GO
/****** Object:  Database [NHK Villieria]    Script Date: 2025/04/21 20:53:05 ******/
CREATE DATABASE [NHK Villieria]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NHK Villieria', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NHK Villieria.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NHK Villieria_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NHK Villieria_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NHK Villieria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NHK Villieria]
GO
/****** Object:  Table [dbo].[ChurchCouncil]    Script Date: 2025/04/21 20:53:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChurchCouncil](
	[CouncilId] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_ChurchCouncil] PRIMARY KEY CLUSTERED 
(
	[CouncilId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChurchCouncilMembers]    Script Date: 2025/04/21 20:53:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChurchCouncilMembers](
	[CouncilId] [int] NULL,
	[MemberId] [int] NULL,
	[DateJoined] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Donations]    Script Date: 2025/04/21 20:53:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Donations](
	[DonationId] [int] NOT NULL,
	[MemberId] [int] NOT NULL,
	[Amount] [money] NULL,
	[Date] [datetime] NULL,
	[DonationType] [nvarchar](255) NULL,
 CONSTRAINT [PK_Donations] PRIMARY KEY CLUSTERED 
(
	[DonationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventParticipation]    Script Date: 2025/04/21 20:53:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventParticipation](
	[EventId] [int] NOT NULL,
	[MemberId] [int] NULL,
	[Role] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 2025/04/21 20:53:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[EventId] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Date] [datetime] NULL,
	[Description] [nvarchar](255) NULL,
	[Location] [nvarchar](255) NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Families]    Script Date: 2025/04/21 20:53:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Families](
	[FamilyId] [int] NOT NULL,
	[FamilyName] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
 CONSTRAINT [PK_Families] PRIMARY KEY CLUSTERED 
(
	[FamilyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FamilyMember]    Script Date: 2025/04/21 20:53:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamilyMember](
	[FamilyId] [int] NULL,
	[MemberId] [int] NULL,
	[Relationship] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 2025/04/21 20:53:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[MemberId] [int] NOT NULL,
	[WardId] [int] NULL,
	[FirstName] [nvarchar](255) NULL,
	[LastName] [nvarchar](255) NULL,
	[Gender] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[Phone] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[DateOfBirth] [datetime] NULL,
	[MaritalStatus] [nvarchar](255) NULL,
 CONSTRAINT [PK_Members] PRIMARY KEY CLUSTERED 
(
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ministries]    Script Date: 2025/04/21 20:53:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ministries](
	[MinistryId] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_Ministries] PRIMARY KEY CLUSTERED 
(
	[MinistryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MinistryMembers]    Script Date: 2025/04/21 20:53:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MinistryMembers](
	[MinistryId] [int] NULL,
	[MemberId] [int] NULL,
	[Role] [nvarchar](255) NULL,
	[DateJoined] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wards]    Script Date: 2025/04/21 20:53:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wards](
	[WardId] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Status] [nvarchar](255) NULL,
 CONSTRAINT [PK_Wards] PRIMARY KEY CLUSTERED 
(
	[WardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChurchCouncil] ([CouncilId], [Name], [Description]) VALUES (1, N'Council 1', N'Subject on very wall.')
INSERT [dbo].[ChurchCouncil] ([CouncilId], [Name], [Description]) VALUES (2, N'Council 2', N'Sport science sense travel identify.')
INSERT [dbo].[ChurchCouncil] ([CouncilId], [Name], [Description]) VALUES (3, N'Council 3', N'This risk information left action whom think prove.')
GO
INSERT [dbo].[ChurchCouncilMembers] ([CouncilId], [MemberId], [DateJoined]) VALUES (4, 14, CAST(N'2022-06-14T00:00:00.000' AS DateTime))
INSERT [dbo].[ChurchCouncilMembers] ([CouncilId], [MemberId], [DateJoined]) VALUES (4, 122, CAST(N'2022-08-14T00:00:00.000' AS DateTime))
INSERT [dbo].[ChurchCouncilMembers] ([CouncilId], [MemberId], [DateJoined]) VALUES (1, 28, CAST(N'2022-12-05T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[Donations] ([DonationId], [MemberId], [Amount], [Date], [DonationType]) VALUES (1, 95, 37.3700, CAST(N'2025-03-31T00:00:00.000' AS DateTime), N'Offering')
INSERT [dbo].[Donations] ([DonationId], [MemberId], [Amount], [Date], [DonationType]) VALUES (2, 171, 428.1200, CAST(N'2025-03-26T00:00:00.000' AS DateTime), N'Charity')
INSERT [dbo].[Donations] ([DonationId], [MemberId], [Amount], [Date], [DonationType]) VALUES (3, 49, 382.3400, CAST(N'2025-01-02T00:00:00.000' AS DateTime), N'Offering')
GO
INSERT [dbo].[EventParticipation] ([EventId], [MemberId], [Role]) VALUES (9, 89, N'Volunteer')
INSERT [dbo].[EventParticipation] ([EventId], [MemberId], [Role]) VALUES (8, 59, N'Volunteer')
INSERT [dbo].[EventParticipation] ([EventId], [MemberId], [Role]) VALUES (11, 195, N'Volunteer')
GO
INSERT [dbo].[Events] ([EventId], [Name], [Date], [Description], [Location]) VALUES (1, N'Event 1', CAST(N'2025-02-03T00:00:00.000' AS DateTime), N'Several hope suddenly world fall similar surface those.', N'Port Danielle')
INSERT [dbo].[Events] ([EventId], [Name], [Date], [Description], [Location]) VALUES (2, N'Event 2', CAST(N'2025-01-14T00:00:00.000' AS DateTime), N'Air day might he trade hair.', N'Donnaside')
INSERT [dbo].[Events] ([EventId], [Name], [Date], [Description], [Location]) VALUES (3, N'Event 3', CAST(N'2025-02-21T00:00:00.000' AS DateTime), N'Especially model work school cultural.', N'North Katelynmouth')
GO
INSERT [dbo].[Families] ([FamilyId], [FamilyName], [Address]) VALUES (1, N'Chase', N'8267 Scott Key Suite 077, North Coltonshire, DE 38004')
INSERT [dbo].[Families] ([FamilyId], [FamilyName], [Address]) VALUES (2, N'Rosales', N'074 Gregory Meadows, New Amandaburgh, OR 40123')
INSERT [dbo].[Families] ([FamilyId], [FamilyName], [Address]) VALUES (3, N'Rivera', N'9547 Jonathan Coves, Hubershire, IN 99160')
GO
INSERT [dbo].[FamilyMember] ([FamilyId], [MemberId], [Relationship]) VALUES (11, 22, N'Mother')
INSERT [dbo].[FamilyMember] ([FamilyId], [MemberId], [Relationship]) VALUES (15, 11, N'Father')
INSERT [dbo].[FamilyMember] ([FamilyId], [MemberId], [Relationship]) VALUES (8, 13, N'Child')
GO
INSERT [dbo].[Members] ([MemberId], [WardId], [FirstName], [LastName], [Gender], [Address], [Phone], [Email], [DateOfBirth], [MaritalStatus]) VALUES (1, 5, N'Amanda', N'Munoz', N'Female', N'USS Nunez, FPO AP 58393', N'001-822-988-9021', N'lopezyvonne@williams-ballard.com', CAST(N'1950-01-04T00:00:00.000' AS DateTime), N'Single')
INSERT [dbo].[Members] ([MemberId], [WardId], [FirstName], [LastName], [Gender], [Address], [Phone], [Email], [DateOfBirth], [MaritalStatus]) VALUES (2, 7, N'Michelle', N'Chang', N'Female', N'38593 Hahn Turnpike Apt. 672, Simpsonport, KS 16007', N'623.343.5244x170', N'justin64@lewis-lee.org', CAST(N'2001-09-12T00:00:00.000' AS DateTime), N'Widowed')
INSERT [dbo].[Members] ([MemberId], [WardId], [FirstName], [LastName], [Gender], [Address], [Phone], [Email], [DateOfBirth], [MaritalStatus]) VALUES (3, 2, N'Brendan', N'Peterson', N'Male', N'16922 Bridges Mountain, Youngchester, MA 07899', N'001-012-669-4734x692', N'gloverjason@yahoo.com', CAST(N'1998-07-27T00:00:00.000' AS DateTime), N'Single')
GO
INSERT [dbo].[Ministries] ([MinistryId], [Name], [Description]) VALUES (1, N'Ministry 1', N'Medical always sell yet Democrat hope attention visit.')
INSERT [dbo].[Ministries] ([MinistryId], [Name], [Description]) VALUES (2, N'Ministry 2', N'Rate change popular his player prevent.')
INSERT [dbo].[Ministries] ([MinistryId], [Name], [Description]) VALUES (3, N'Ministry 3', N'Provide work voice foot allow.')
GO
INSERT [dbo].[MinistryMembers] ([MinistryId], [MemberId], [Role], [DateJoined]) VALUES (4, 69, N'Leader', CAST(N'2021-05-02T00:00:00.000' AS DateTime))
INSERT [dbo].[MinistryMembers] ([MinistryId], [MemberId], [Role], [DateJoined]) VALUES (5, 160, N'Leader', CAST(N'2024-11-12T00:00:00.000' AS DateTime))
INSERT [dbo].[MinistryMembers] ([MinistryId], [MemberId], [Role], [DateJoined]) VALUES (1, 111, N'Member', CAST(N'2021-09-21T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[Wards] ([WardId], [Name], [Status]) VALUES (1, N'Ward 1', N'Inactive')
INSERT [dbo].[Wards] ([WardId], [Name], [Status]) VALUES (2, N'Ward 2', N'Active')
INSERT [dbo].[Wards] ([WardId], [Name], [Status]) VALUES (3, N'Ward 3', N'Inactive')
GO
ALTER TABLE [dbo].[ChurchCouncilMembers]  WITH CHECK ADD  CONSTRAINT [FK_ChurchCouncilMembers_ChurchCouncil] FOREIGN KEY([CouncilId])
REFERENCES [dbo].[ChurchCouncil] ([CouncilId])
GO
ALTER TABLE [dbo].[ChurchCouncilMembers] CHECK CONSTRAINT [FK_ChurchCouncilMembers_ChurchCouncil]
GO
ALTER TABLE [dbo].[ChurchCouncilMembers]  WITH CHECK ADD  CONSTRAINT [FK_ChurchCouncilMembers_Members] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Members] ([MemberId])
GO
ALTER TABLE [dbo].[ChurchCouncilMembers] CHECK CONSTRAINT [FK_ChurchCouncilMembers_Members]
GO
ALTER TABLE [dbo].[Donations]  WITH CHECK ADD  CONSTRAINT [FK_Donations_Members] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Members] ([MemberId])
GO
ALTER TABLE [dbo].[Donations] CHECK CONSTRAINT [FK_Donations_Members]
GO
ALTER TABLE [dbo].[EventParticipation]  WITH CHECK ADD  CONSTRAINT [FK_EventParticipation_Events] FOREIGN KEY([EventId])
REFERENCES [dbo].[Events] ([EventId])
GO
ALTER TABLE [dbo].[EventParticipation] CHECK CONSTRAINT [FK_EventParticipation_Events]
GO
ALTER TABLE [dbo].[EventParticipation]  WITH CHECK ADD  CONSTRAINT [FK_EventParticipation_Members] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Members] ([MemberId])
GO
ALTER TABLE [dbo].[EventParticipation] CHECK CONSTRAINT [FK_EventParticipation_Members]
GO
ALTER TABLE [dbo].[FamilyMember]  WITH CHECK ADD  CONSTRAINT [FK_FamilyMember_Families] FOREIGN KEY([FamilyId])
REFERENCES [dbo].[Families] ([FamilyId])
GO
ALTER TABLE [dbo].[FamilyMember] CHECK CONSTRAINT [FK_FamilyMember_Families]
GO
ALTER TABLE [dbo].[FamilyMember]  WITH CHECK ADD  CONSTRAINT [FK_FamilyMember_Members] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Members] ([MemberId])
GO
ALTER TABLE [dbo].[FamilyMember] CHECK CONSTRAINT [FK_FamilyMember_Members]
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD  CONSTRAINT [FK_Members_Wards] FOREIGN KEY([WardId])
REFERENCES [dbo].[Wards] ([WardId])
GO
ALTER TABLE [dbo].[Members] CHECK CONSTRAINT [FK_Members_Wards]
GO
ALTER TABLE [dbo].[MinistryMembers]  WITH CHECK ADD  CONSTRAINT [FK_MinistryMembers_Members] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Members] ([MemberId])
GO
ALTER TABLE [dbo].[MinistryMembers] CHECK CONSTRAINT [FK_MinistryMembers_Members]
GO
ALTER TABLE [dbo].[MinistryMembers]  WITH CHECK ADD  CONSTRAINT [FK_MinistryMembers_Ministries] FOREIGN KEY([MinistryId])
REFERENCES [dbo].[Ministries] ([MinistryId])
GO
ALTER TABLE [dbo].[MinistryMembers] CHECK CONSTRAINT [FK_MinistryMembers_Ministries]
GO
USE [master]
GO

------------------------------------------------------------------------
--7. Queries and Views
------------------------------------------------------------------------

--Question 1: Which members have participated in more than 3 events?
CREATE VIEW vw_ActiveEventParticipants 
AS
SELECT ep.MemberID, m.FirstName, m.LastName,
COUNT(*) AS EventCount
FROM EventParticipation ep
INNER JOIN Member m ON m.MemberID = ep.MemberID
GROUP BY ep.MemberID, m.FirstName, m.LastName
HAVING COUNT(*) > 3
GO


--Question 2: What is the total donation amount given by each family?
CREATE VIEW vw_TotalDonationsByFamily AS
SELECT  f.FamilyID,  f.FamilyName, SUM(d.Amount) AS TotalDonations
FROM Donations d
INNER JOIN FamilyMember fm ON fm.FamilyMemberID = d.FamilyMemberID
INNER JOIN Family f ON f.FamilyID = fm.FamilyID
GROUP BY f.FamilyID, f.FamilyName
GO


--Question 3: List members and their ministries
CREATE VIEW vw_MemberMinistries AS
SELECT m.MemberID,  m.FirstName, m.LastName, ms.MinistryName
FROM MinistryMembers mm
INNER JOIN Member m ON m.MemberID = mm.MemberID
INNER JOIN Ministry ms ON ms.MinistryID = mm.MinistryID
GO

--Question 4: Which members are also in the Church Council?
CREATE VIEW vw_CouncilMembers AS
SELECT m.MemberID, m.FirstName, m.LastName, cc.CouncilName
FROM ChurchCouncilMembers ccm
JOIN Member m ON m.MemberID = ccm.MemberID
JOIN ChurchCouncil cc ON cc.CouncilID = ccm.CouncilID
GO

--Question 5: What events have been hosted by each ward?
CREATE VIEW vw_WardEvents AS
SELECT w.WardID, w.WardName, e.EventID, e.EventName, e.EventDate
FROM Events e
JOIN Ward w ON w.WardID = e.WardID
GO

------------------------------------------------------------------------
--8. Stored Procedures, Triggers, Logins and other objects
------------------------------------------------------------------------

--Procedures

--Procedure #1: Add new donation
CREATE PROCEDURE sp_AddDonation
    @FamilyMemberID INT,
    @Amount DECIMAL(10,2),
    @DonationDate DATE
AS
BEGIN
    INSERT INTO Donations (FamilyMemberID, Amount, DonationDate)
    VALUES (@FamilyMemberID, @Amount, @DonationDate)
END
GO

--Procedure #2: Add a new event
CREATE PROCEDURE sp_AddEvent
    @EventName NVARCHAR(100),
    @EventDate DATE = NULL,
    @WardID INT = NULL
AS
BEGIN
    SET @EventDate = GETDATE()
    INSERT INTO Events (EventName, EventDate, WardID)
    VALUES (@EventName, @EventDate, @WardID);
END
GO

--Triggers
CREATE TRIGGER trg_LogHighDonations
ON Donations
AFTER INSERT
AS
BEGIN
    INSERT INTO DonationAudit (FamilyMemberID, Amount, DonationDate, AlertLevel)
    SELECT FamilyMemberID, Amount, DonationDate, 'High Donation'
    FROM inserted
    WHERE Amount > 1000
END
GO

--Login
CREATE LOGIN ChurchDBUser WITH PASSWORD ='pAsSwOrD@123'
CREATE USER ChurchUser FOR LOGIN ChurchDBUser
ALTER ROLE db_datareader ADD MEMBER ChurchUser
ALTER ROLE db_datawriter ADD MEMBER ChurchUser
GO